.game-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.game-page > .top {
    height: 50px;
    width: 100%;
}
.game-page > .bottom {
    flex-grow: 1;
    width: 100%;
    display: flex;
}
.game-page > .bottom > .left {
    width: 200px;
}
.game-page > .bottom > .right {
    flex-grow: 1;
}
